<head>

  <title>
      {{ page.title }} | {{ site.data.settings.title }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
  <style>
    /* The default style has the header links colored blue, which is hard to read---change to white. */
    .page-header  a {
          color: white;
          margin-left: 20px;
    }
  </style>

  {% comment %}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
  </script>
  {% endcomment %}

</head>
